.ecpsfree-container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.ecpsfree-hidden{
  display: none;
}

.ecpsfree-notification{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #EBAC00;
  color: rgb(7, 7, 7);
  font-size: x-large;
  padding: 30px 0;
}

.ecpsfree-notification .ecpsfree-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ecpsfree-notification .ecpsfree-text{
  max-width: 70%;
  color: rgb(36, 25, 25);
}

.ecpsfree-notification .ecpsfree-button{
  background-color: #fff;
  padding: 5px 25px;
  color: #444;
  border-radius: 4px;
  cursor: pointer;
}